<form class="input-group" asp-controller="Home" asp-action="Search" method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Recipient's username" name="Search" />
        <button class="btn btn-outline-secondary" type="submit">Button</button>
    </div>
</form>